.page-header {
	position: relative;
	background: $primerry-bg-color;
	border-bottom: 1px solid #ececec;

	// padding-top: 24px;
	// padding-bottom: 25px;
}

.underline {
	position: relative;
	display: inline-block;
}

.page-header .nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
}

.menu_button {
	display: inline-flex;
	margin: 0;
	padding: auto;
	border: none;
	background-color: transparent;

	& .icon-cross {
		display: none;
	}

	&.is-open .icon-cross {
		display: block;
	}

	&.is-open .icon-menu {
		display: none;
	}
}
